.iresumex {
  margin: 5px 0 20px;
  user-select: none;
}
.iresume {
  position: relative;
  width: 60%;
  min-width: 1000px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  font-family:  PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
.iresume:hover {
  cursor: grab;
  cursor: -webkit-grab;
}
.iresume > .iresume-left {
  float: left;
  flex: 3;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.iresume > .iresume-right {
  float: left;
  flex: 7;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.iresume-left .iresume-box {
  margin: 0 5% 10% 5%;
}
.iresume-right .iresume-box {
  margin: 3% 5%;
}
.iresume-box-box {
  margin: 2% 0 0;
}
.iresume-box .iresume-hr {
  width: 100%;
  height: 1px;
  margin: 2% 0;
}
.iresume-box .iresume-box-title {
  font-size: 1.4em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.iresume-box-txt {
  margin-left: 10px;
}
.iresume-box .iresume-box-content {
  padding: 0 0 0 3%;
  margin: 3% 0 0;
}
.iresume-box-content .concat-box {
  height: 30px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.concat-box .concat-txt {
  margin-left: 5px;
}
.concat-box .concat-icon {
  margin-left: 7px;
}
.iresume-box-content .iresume-box-head {
  font-size: 18px;
}
.iresume-box-content .box-bottom {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}
.iresume-box .iresume-enterprise-time{
  font-size: 16px;
}
.iresume-box-content .iresume-box-article {
  text-indent: 2em;
  line-height: 1.5em;
  word-wrap: break-word;
}
.iresume-enterprise .iresume-enterprise-title {
  padding: 3% 0 0;
  font-size: 1.2em;
}
.iresume-left .iresume-avatars {
  padding: 20% 25% 5%;
  width: 50%;
}
.iresume-avatars img {
  width: 100%;
}
.iresume-left .iresume-username {
  font-size: 2em;
  text-align: center;
  padding: 0 0 10%;
}
ul {
  padding: 0;
  margin: 0;
}
ol {
  margin: 0;
}
ul > li {
  list-style: none;
  padding: 5px;
}
ol > li {
  padding: 1% 0 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.iresume .iresume-mini {
  font-size: 0.8em;
  line-height: 1.5em;
}
.iresume-project-title, .iresume-project-url {
  margin-right: 25px;
}
.icon-mini {
  font-size: 18px;
}
.icon-small {
  font-size: 20px;
}
.icon-mid {
  font-size: 30px;
}
.iresume-pointer {
  cursor: pointer;
}