.iresume {
  width: 60%;
  min-width: 720px;
  height: auto;
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family:  PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
.iresume > .iresume-left {
  display: inline-block;
  background-color: #29b6f6;
  width: 30%;
}
.iresume > .iresume-right {
  display: inline-block;
  background-color: #fff;
  width: 70%;
  position: absolute;
}
.iresume-box {
  margin: 3% 5%;
}
.iresume-box-box {
  margin: 2% 0 0;
}
.iresume-box .iresume-hr {
  width: 100%;
  height: 1px;
  margin: 2% 0;
  background-color: #00a1d6;
}
.iresume-box .iresume-box-title {
  font-size: 1.4em;
  display: inline-block;
}
.iresume-box .iresume-box-content {
  padding: 0 0 0 3%;
  margin: 3% 0 0 0;
}
.iresume-box .iresume-enterprise-time{
  position: absolute;
  right: 6%;
  margin-top: 4px;
  font-size: 0.8em;
}
.iresume-box-content .iresume-box-article {
  text-indent: 2em;
  line-height: 1.5em;
  word-wrap: break-word;
}
.iresume-enterprise .iresume-enterprise-title {
  padding: 3% 0 0 0;
  font-size: 1.2em;
}
.iresume-left .iresume-avatars {
  padding: 20% 25% 5% 25%;
  width: 50%;
}
.iresume-avatars img {
  width: 100%;
}
.iresume-left .iresume-username {
  font-size: 2em;
  text-align: center;
  padding: 0 0 5%;
}
ul {
  padding: 0;
  margin: 0;
}
ol {
  margin: 0;
}
ul > li {
  list-style: none;
  padding: 5px;
}
ol > li {
  padding: 2% 0 0;
}
.iresume .iresume-white {
  color: #fff;
}
.iresume .iresume-blue {
  color: #00a1d6;
}
.iresume .iresume-gray {
  color: #999;
}
.iresume .iresume-sky {
  color: #5ba4e5;
}
.iresume .iresume-mini {
  font-size: 0.8em;
  line-height: 1.5em;
}
.iresume .iresume-project-url {
  cursor: pointer;
  color: orange;
}
@media screen and (max-width: 1200px) {
  .iresume {
    width: 80%;
    min-width: 720px;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 90%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }
  .iresume > .iresume-left {
    display: inline-block;
    background-color: #29b6f6;
    width: 30%;
  }
  .iresume > .iresume-right {
    display: inline-block;
    background-color: #fff;
    width: 70%;
    position: absolute;
  }
}
@media screen and (max-width: 800px) {
  .iresume {
    width: 60%;
    min-width: 720px;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 62.5%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }
  .iresume > .iresume-left {
    display: inline-block;
    background-color: #29b6f6;
    width: 40%;
  }
  .iresume > .iresume-right {
    display: inline-block;
    background-color: #fff;
    width: 60%;
    position: absolute;
  }
}